* {
  --green: #008B8B;
  --blue: #6203fc;
  --red: #fc034e;
  --yellow: #fcd303;
  --gray-80white: #F9F9F9;
  --gray-60white: #DBDADA;
  --gray-25white: #F2F2F2;
  --gray-20white: #999999;
  --black-light: #353535;
  --white: #FFFFFF;
}